[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pillow = "*"
django-ckeditor = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
